<div class="header">
    <ul style="margin: 0;
    padding: 0">
        <li class="st"> <img src="../assets/images/logo.png" width="120px" height="40px" alt="lorem"></li>
        <li><a routerLink="/index">Новости</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Блоги</a>
            <div class="dropdown-content">
                <a routerLink="/blogs">История</a>
                <a routerLink="/blogs">Политика</a>
                <a routerLink="/blogs">Кульура</a>
            </div>
        </li>
        <li><a routerLink="/info">О проекте</a></li>
        <li style="float:right;"><button onclick="document.getElementById('id01').style.display='block'"
                style="width:auto;" class="s">Вход</button></li>
    </ul>
</div>
<div id="id01" class="modal">

    <form class="modal-content animate" action="/action_page.php">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close"
                title="Close Modal">×</span>
        </div>

        <div class="container">
            <h1 align='center'>Вход</h1>
            <label for="uname"><b>Имя пользователя</b></label>
            <input class="s" type="text" placeholder="Введите имя пользователя" name="name" required>

            <label for="psw"><b>Пароль</b></label>
            <input class="s" type="password" placeholder="Введите пароль" name="psw" required>

            <button class="sx" type="submit">Войти</button> <button type="button"
                onclick="document.getElementById('id02').style.display='block'" class="sz">Зарегистрироваться</button>
            <label>
                <input class="s" type="checkbox" checked="checked" name="remember"> Запомнить меня
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'"
                class="cancelbtn s ">Отмена</button>

        </div>
    </form>

</div>
<div id="id02" class="modal">

    <form class="modal-content animate" action="/action_page.php">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id02').style.display='none'" class="close"
                title="Close Modal">×</span>
        </div>

        <div class="container">
            <h1 align='center'>Регистрация</h1>
            <label for="uname"><b>Почта</b></label>
            <input class="s" type="text" placeholder="Введите почту" name="mail" required>
            <label for="uname"><b>Имя пользователя</b></label>
            <input class="s" type="text" placeholder="Введите имя пользователя" name="name" required>

            <label for="psw"><b>Пароль</b></label>
            <input class="s" type="password" placeholder="Введите пароль" name="psw" required>

            <button class="s" type="submit">Создать аккаунт</button>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id02').style.display='none'"
                class="cancelbtn s ">Отмена</button>

        </div>
    </form>

</div>

<div class="bli">
    <h1> Жванецкий</h1>
    <p>
        <img src="../assets/images/jvanec.jpg" width="100%" height="500px" alt="lorem">
        «Рок-н-ролл мёртв, а я ещё нет, Рок-н-ролл мёртв, а я ещё нет,

        <br>Те, кто нас любит, смотрят нам вслед,
        
        
        <br>Рок-н ролл мёртв, а я – ещё нет».
        
        <p>Культовый пророк публики периода загнивания позднего СССР Борис Гребенщиков в этих строках отразил всю драму пережившего себя былого кумира, впечатанного в своё время, как муха в янтарь. Время прошло, мир изменился, а кумиры прошлого остались такими же, какими были давно. Они с удивлением осматривают себя, ставших рудиментом прошлого в новой эпохе, и удивляются произошедшему как чуду. Их аудитории больше нет, прежним почитателям они больше не интересны, новые зрители равнодушны, другие времена и другие кумиры заполняют внимание публики. Попытки удержаться вызывают разочарование и жалость, а порой и досаду. Многие испытывают отвращение.
        
        </p><p>Отсутствие способности понимать себя адекватно – беда любого таланта, выразившего своё время и своё поколение. Поколение уходит, оно меняет условия существования. Старые истины переоцениваются, а для новых есть новые выразители. Старые становятся тем, что во дни своего триумфа описал Андрей Макаревич – ещё один переживший своё время былой кумир былого поколения: «Кукол снимут с нитей длинных, и, засыпав нафталином, в виде тряпок сложат в сундуках». Макаревич теперь сам стал такой пронафталиненной куклой прошлого, вызывающей досаду былых почитателей до степени зубной боли. Мог ли он предположить в отношении себя такое в разгар популярности?
        
        </p><p>Михаил Жванецкий – это такое же лицо позднесоветской эпохи, как Алла Пугачёва. Эти два имени – символы вырождения и упадка Империи. Шуты и арлекины стали символом эпохи, голосом времени, выразителями тайных дум и стремлений народа. Они вытеснили лётчиков и полярников, космонавтов и художников, геологов и моряков, физиков и лириков. Пошлость взошла на трон и стала править умами и душами.
        
        </p><p>Когда-то Жванецкий точно выразил мечты своего поколения. Точнее, не всего поколения, а той его части, которая приписала себя к настоящим выразителям своего времени – советской интеллигенции, скучающей от отсутствия острых ощущений, сексуальной революции и потребительского изобилия. Они считали себя жертвами эпохи, а власть – виновником их напрасно проживаемой жизни, укравшей у них право на счастье.
        </p><p>
        Все, кто мог не только держать фигу в кармане, но и талантливыми намёками описать её наличие и образ, не вынимая рук из карманов, стали героями времени. «Пугались нас ночные сторожа, как оспою болело время нами», - точно описал ощущение своей миссии этой группой Владимир Высоцкий, один из череды подобных кумиров, чей яркий талант внёс свою долю в сокрушение дряхлой советской культуры, а следом за этим и государственности - потому что оказалось, что именно на культуре стоит государство, а не на экономике, армии и чиновниках. А культура – это ценности и уважение к ним.
    </p><p>
        «Вселенский опыт говорит, что погибают царства не оттого, что тяжек быт или страшны мытарства. А погибают оттого (и тем больней, чем дольше), что люди царства своего не уважают больше». Так ещё в далёком 1968 году выразил своё «Предчувствие гражданской войны» Булат Окуджава – ещё один кумир того времени. Надо сказать, что все они действительно были чрезвычайно талантливы и место лидеров общественного мнения занимали по праву. Им никто его не дарил, они взяли его потому, что были популярны и признаны. Но оказалось, что талант и мудрость, талант и нравственность - далеко не совпадающие понятия. Яркий талант способен ярко разрушать, а жизнь в разрухе – трагедия почитателей такого таланта.
    </p><p>
        После того, как смехачи раскачали власть, народ осмелел и снёс свою государственность. Да, на самом деле народ был на это спровоцирован властью. Власть готовила убийство страны, и смехачи, барды, эстрадники были ею востребованы. Михаил Бахтин здорово описал, как карнавал убивает создавшую страну и народ идею. Приступ смеха оставляет ощущение усталости, надорванности, опустошения. Смех никогда не лечил, не спасал, не избавлял. Смех был наркотиком, создающим иллюзию бегства от непереносимости бытия. После того, как человек уходил в смех, бытиё распадалось.
    </p><p>
        Жванецкий после распада СССР какое-то время торжествовал. Это было время его триумфа. Даже в самых смелых мечтах он не думал, что на его веку настанет эта пора. Но не надо сводить всю суть Жванецкого к борьбе с государством – он никогда не ставил такой задачи. Он верил, что воюет с недостатками человеческой природы. Чванством чиновников, заскорузлостью обывателей, фальшивыми навязанными ценностями, в которые не верят ни те, кто их навязывает, ни те, кому их навязывают. То есть Жванецкий - либерал самым естественным образом, ибо он за свободу.
    </p><p>
        Со временем Жванецкий стал терять склонность шутить. Его юмор стал натужным и грустным, потерял искромётность, в каких-то местах стал пронзительно лиричным. Его всё чаще становится жалко. В его строках появилась тоска. Это не просто тоска по ушедшей молодости и заканчивающейся жизни. Это ощущение какой-то ошибки всего произошедшего. Жванецкий не настолько глуп, чтобы этого не ощущать, но он не настолько силён, чтобы признать ошибку всего пройденного жизненного пути. Отказаться от него – значит, отказаться от всего себя. От всей прожитой жизни. Такой подвиг посилен только уходящему в монастырь подвижнику. Не стоит упрекать Жванецкого в том, что у него нет на это сил. Он сам это прекрасно понимает. Помните?
    </p><p>
        «О себе я могу сказать твердо. Я никогда не буду высоким. И красивым. И стройным. Меня никогда не полюбит Мишель Мерсье. И в молодые годы я не буду жить в Париже. Я не буду говорить через переводчика, сидеть за штурвалом и дышать кислородом. К моему мнению не будет прислушиваться больше одного человека. Да и эта одна всё больше начинает иметь свое.
    </p><p>
        Я наверняка не буду руководить большим симфоническим оркестром радио и телевидения. И фильм не поставлю. И не получу ничего в Каннах. Ничего не получу в смокинге, в прожекторах в Каннах. Времени уже не хватит... Не успею. Даже простой крейсер под моим командованием не войдет в нейтральные воды... Из наших не выйдет. И за мои полотна не будут платить бешеные деньги. Уже нет времени.
    </p><p>
        И от моих реплик не грохнет цирк и не прослезится зал. И не заржет лошадь подо мной... Только впереди меня. И не расцветет что-то. И не запахнет чем-то. И не скажет девочка: "Я люблю тебя". И не спросит мама: "Что ты ел сегодня, мой мальчик?" Но зато... Зато я скажу теперь сыну: "Парень, я прошел через всё. Я не стал этим и не стал тем. Я передам тебе свой опыт».
    </p><p>
        Это на самом деле исповедь от потрясения открытия своей обыденности. Драмы расставания с фальшивыми мечтами. Это стадия перехода из триумфа в трагедию.
    </p><p>
        Трагедия Жванецкого проявилась намного позже. Популярность в московской интеллигентской среде оказалась популярностью у буржуазии, но вовсе не популярностью у народа. Оказалось, что Жванецкий оторвался от народа и стал жить жизнью богемы – то, о чём он всегда мечтал. Народ жил очень тяжело, а Жванецкий не чувствовал этой боли. Он не понял, что эта боль от распада страны, оказавшейся в состоянии войны. И это война с тем Западом, который был источником вдохновения для целого поколения пророков и кумиров распавшейся страны. Этой войны Жванецкий не видит и не способен осознать, а осознав, не способен оценить.
    </p><p>
        Моральная неразборчивость Жванецкого выражается в его интервью финансируемым Западом русофобским изданиям. Для Жванецкого это лишь трибуна и возможность высказаться. То, что это выглядит как интервью геббельсовской газете с жалобой на СССР советского партийного еврея, он не думает. Вот в интервью «Собеседнику» Жванецкий выражает своё отношение к происходящему в России (о своем отношении к происходящему на Украине Жванецкий говорить боится и уходит от вопросов):
    </p><p>
        «Всё дорожает. Всегда утешаешь себя: «Стало хуже, но еще терпимо». Но я интуитивно чувствую нарастание чего-то нехорошего. Вижу пересчитывание денег в карманах... Было время, когда ты не знал, сколько у тебя в кошельке. А сейчас должен знать.
    </p><p>
        При этом наше общество с радостью будет голодать, но строить ракеты... А того, чтобы и быть сытыми, и запускать ракеты, почему-то никто в правительстве еще не предложил».
    </p><p>
        А в 90-х он этого не видел? Или он тогда денег не считал? Тогда Лужков подарил ему джип и Жванецкий был в восторге. Его печатали и приглашали, он не нуждался. Но страна жила иначе. Люди всегда считали деньги в кошельке. Жванецкий этого не видел? А это фраза про «голодать, но стоить ракеты»? Это прямой упрёк в тупости. Нас уже развели в перестройку на криках о масле вместо пушек. Чем это кончилось, все увидели. По СССР, по Югославии, по Ираку и Ливии. По Сирии. Жванецкий не понимает такой простой вещи, что страна попала на грань военного вторжения Запада? Он не понимает, почему не удаётся совмещать пушки и масло? Он верит, что если сдаться и не делать пушки, то будет больше масла? Человек, о котором думали, что он умный, оказался так глуп?
    </p><p>
        Можно попытаться всё списать на местечковую одесскую ограниченность. На отсутствие государственнического инстинкта у выходцев из Одессы. Но я не соглашусь с этим по одной простой причине. В Отечественную войну Одесса стала городом-героем. В одесских катакомбах сражались одесситы, они стояли насмерть, но не отдавали врагу свой город. И это не город мещан и коллаборационистов. Это город имперцев, глубоко ощущавших свою причастность к большой стране, понимавших себя её неотъемлемой частью. И так как Одесса многонациональна, то и количество патриотов она дала из всех национальностей. Давид Гоцман из фильма «Ликвидация» - прототип реального героя и ещё одно тому подтверждение. Так кто же настоящий символ русской имперской Одессы – Жванецкий или Гоцман?
    </p><p>
        Одесская Хатынь 2014 года показала ещё раз истинную суть Одессы. Это наш город, город-герой, город-солдат. Но Жванецкий сказал, что теперь Одесса для него умерла, так как прежней Одессы больше нет. Разве нет? Ничем Жванецкий не осудил происходящее на Украине. Он всегда обходит эту тему. Просто его потрясает насилие и жестокость. Всё. Оно якобы существует само по себе. Без привязки к конкретным именам и фамилиям. Но так не бывает.
    </p><p>
        Можно ещё посчитать, что он опасается за жизнь тамошней родни. Но, цитируя самого Жванецкого, можно сказать: «Что-то мне мешает поверить в эту латынь». Ещё фраза из интервью «Собеседнику»:
    </p><p>
        «Но больше всего Жванецкого возмущают в России разгильдяйство и тотальная безнаказанность.
    </p><p>
        «Ко всему этому нельзя просто так относиться. То, что газовая система никудышная и дороги не чистят – это уже для России привычно. Но то, что не работают суды, для меня необычно. Это безобразие», - говорит Жванецкий».
    </p><p>
        Суды не работают? А раньше всегда работали? Россия балансирует на лезвии ножа. У неё война, санкции, НАТО по всем границам, Украина превратилась в плацдарм вторжения – а Жванецкий недоволен газопроводами и нечищеными дорогами. Где дороги не чистят? В Москве? В каком месте? У меня на Кубани везде чистые дороги. И газ в посёлки протянули несколько лет назад. У нас другая проблема – санкции ударили по благосостоянию всего народа. Бизнес очень трудно выбирается из завалов, созданных ещё в период развала СССР, когда страна потеряла общее пространство. К чему Михал Михалыч со товарищи в своё время очень хорошо руку приложили, сами того не ведая. А гонка вооружений, развязанная США, отвлекает деньги на ракеты, столь не любимые Жванецким.
    </p><p>
        Вот чем страна живёт. А «Дежурный по стране» этого не ведает, ибо с давних пор «живёт, под собою не чуя страны». Жизнь всё больше разводит Жванецкого и страну, в которой он живёт. Либеральная секта столицы заменила Жванецкому народ, и это трагедия писателя, талантливого, но очень ограниченного в понимании сути происходящего. 85-лет – возраст, от которого ждёшь извлечения уроков прошлого и мудрости в понимании ошибок, а так же мужества в их признании. Но, видимо, «Уже нет времени». А тот опыт, что есть у Жванецкого, нынешнему поколению не нужен.
    </p><p>
        Время Жванецкого ушло, хотя сам он этого не понимает. Жванецкий устарел настолько, насколько устарел либерализм. Суть творчества Жванецкого – поиски бытового мещанского счастья. В воюющей стране, пережившей распад, предательство и борющейся за жизнь, это мелко и пошло. Выяснилось, что главное предназначение Жванецкого – закрыть эпоху, сделавшую его знаменитым. Досада и разочарование – вот то, что осталось после Жванецкого. Грустный итог насыщенной, но бесполезной жизни. 
</p>
</div>