<div class="header">
    <ul style="margin: 0;
    padding: 0">
        <li class="st"> <img src="../assets/images/logo.png" width="120px" height="40px" alt="lorem"></li>
        <li><a routerLink="/index">Новости</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Блоги</a>
            <div class="dropdown-content">
                <a routerLink="/blogs">История</a>
                <a routerLink="/blogs">Политика</a>
                <a routerLink="/blogs">Кульура</a>
            </div>
        </li>
        <li><a routerLink="/info">О проекте</a></li>
        <li style="float:right;"><button onclick="document.getElementById('id01').style.display='block'"
                style="width:auto;" class="s">Вход</button></li>
    </ul>
</div>
<div id="id01" class="modal">

    <form class="modal-content animate" action="/action_page.php">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close"
                title="Close Modal">×</span>
        </div>

        <div class="container">
            <h1 align='center'>Вход</h1>
            <label for="uname"><b>Имя пользователя</b></label>
            <input class="s" type="text" placeholder="Введите имя пользователя" name="name" required>

            <label for="psw"><b>Пароль</b></label>
            <input class="s" type="password" placeholder="Введите пароль" name="psw" required>

            <button class="sx" type="submit">Войти</button> <button type="button"
                onclick="document.getElementById('id02').style.display='block'" class="sz">Зарегистрироваться</button>
            <label>
                <input class="s" type="checkbox" checked="checked" name="remember"> Запомнить меня
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'"
                class="cancelbtn s ">Отмена</button>

        </div>
    </form>

</div>
<div id="id02" class="modal">

    <form class="modal-content animate" action="/action_page.php">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id02').style.display='none'" class="close"
                title="Close Modal">×</span>
        </div>

        <div class="container">
            <h1 align='center'>Регистрация</h1>
            <label for="uname"><b>Почта</b></label>
            <input class="s" type="text" placeholder="Введите почту" name="mail" required>
            <label for="uname"><b>Имя пользователя</b></label>
            <input class="s" type="text" placeholder="Введите имя пользователя" name="name" required>

            <label for="psw"><b>Пароль</b></label>
            <input class="s" type="password" placeholder="Введите пароль" name="psw" required>

            <button class="s" type="submit">Создать аккаунт</button>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id02').style.display='none'"
                class="cancelbtn s ">Отмена</button>

        </div>
    </form>

</div>

<div class="bli">
    <h1> Как устроен российский стендап</h1>
        <img src="../assets/images/stand.jpg" width="100%" height="500px" alt="lorem">
        <h2>Что такое стендап</h2>
        <p>Стендап-комедия («Stand-up comedy») — юмористический жанр, в котором комик выступает перед живой аудиторией с монологом собственного сочинения. Это могут быть короткие шутки, истории из жизни комика или его наблюдения. Зачастую комик говорит о личных переживаниях и пережитом опыте.</p>
        <p>Это типичное для российского стендапа определение. В то же время на сцене может находиться не один комик, монолог может быть пародийным или музыкальным, а его автор — пребывать в образе. На самом деле жанр не имеет чётких границ, и в него легко вписывается стиль выступлений большинства юмористов на российском ТВ.</p>
        <h2>Откуда он взялся в России</h2>
        <p>Кто и когда в России первым стал называть себя стендап-комиком, мы точно не знаем. Это не важно, ведь жанр, существующий на Западе десятки лет, мог перенести на российскую сцену кто угодно. Массовый интерес к новой комедии появился уже в эпоху интернета.</p>
        <p>В 2009 году по соцсетям разошелся стендап Эдди Мёрфи под названием «Raw» в русскоязычной озвучке Владимира Завгороднего. Выступление 1987 jn года — второй и последний записанный на видео большой концерт, после которого комик ушел делать карьеру в кино. Переводчик нашел «Raw» случайно, изучая статью на «Википедии», в которой перечислялись фильмы с самым большим содержанием слова «fuck». Он так громко смеялся, что жена попросила перевести ей шутки.</p>
        <p>После этого он сделал и опубликовал полную озвучку концерта. Завгородний идеально подстроился под скорость речи Эдди Мёрфи и его интонации, но самое главное — органично переложил на великий и могучий все 223 «fuck».</p>
        <p>Примерно в это же время появились переводы концертов Джорджа Карлина — злобного дедушки американского стендапа, которого в США считают одним из лучших комиков всех времён. Карлин умер в 2008 году, а многие из переведённых концертов вышли ещё в 1990-х. Но его шутки, как и шутки Эдди Мёрфи, за это время не утратили актуальность.</p>
        <p>Благодаря бурно развивавшимся соцсетям стендап получил вирусное распространение: короткие шутки расходились на цитаты и публиковались с картинками, а длинные биты (тематический блок в монологе — примечание TJ) вырезали из концертов и публиковали в видеозаписях и на YouTube.</p>
        <h2>Почему стендап стал популярен</h2>
        <p>Западные стендап-комики рвали шаблоны: человек на сцене — не обязательно клоун, а уморительные шутки могут быть построены на логике, метких наблюдениях и собственном опыте. В стендап-комедии мы увидели то, чего не давало ни одно российское юмористическое телешоу — индивидуальность артиста. На сцене стоит один человек и отвечает за всё, что происходит.</p>
        <p>Концерты западных комиков стали переводить регулярно. Появились и быстро выросли паблики во «ВКонтакте» — AllStandUp и Rumble. В какой-то момент количество переведённых за год концертов перевалило за сотню. В итоге на русском языке есть выступления всех более-менее известных англоязычных стендап-комиков. С субтитрами или закадровым голосом можно найти любой концерт Джорджа Карлина и Луи Си Кея, а некоторые озвучены несколько раз.</p>
        <p>В 2013-м появилось телевизионное шоу на ТНТ, где комики с пафосом и задором раннего «Камеди клаба» представили новый жанр. В России про стендап узнали широкие массы. Если отбросить сравнения с американской сценой, получилось одно из самых качественных и успешных юмористических шоу в нашей стране.</p>
        <p>Stand-up комедия — возможно, самый доступный вид искусства. На сцену со своей историей может подняться даже новичок. Не нужны никакие условности и допущения. Вместо «Представьте себе случай в семье...», или монолога с бумажкой можно просто начать говорить. Без миниатюр, танцев и коллективного творчества, обращаясь напрямую к зрителю в зале.</p>
        <h2>Почему стендап так важен?</h2>
        <p>За десятки лет развития стендап на Западе стал плодородной почвой для всей комедийной культуры. Почти все, кто смешит американского зрителя в кино и на ТВ — начинали с микрофоном на сцене. Мы знаем Эдди Мёрфи как актёра, но он был более успешным как стендап-комик. Робину Уильямсу и Джиму Керри в кино повезло больше, но в начале пути они разрывали залы своими монологами и кривляниями.</p>
        <p>На Западе стендап-комики десятки лет пишут шутки и выступают на сцене почти каждый вечер, прокачиваясь в актерском и сценарном мастерстве. Только после локального успеха на городских сценах они попадают в телевизор, заключают контракты с Netflix, становятся авторами ситкомов и шоу. Посмотрите выступления лучших западных комиков, любой их монолог — готовый сценарий для уморительного скетча. Они создают комедийный контент для всего мира — фильмы, сериалы, шоу. В своих выступлениях поднимают важные социальные вопросы, влияют на политику и мысли людей.</p>


</div>
