<div class="grey">
  <div class="header">
    <ul style="margin: 0;
    padding: 0">
      <li class="st"> <img src="../assets/images/logo.png" width="120px" height="40px" alt="lorem"></li>
      <li><a routerLink="index">Новости</a></li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Блоги</a>
        <div class="dropdown-content">
          <a routerLink="blogs">История</a>
          <a routerLink="blogs">Политика</a>
          <a routerLink="blogs">Кульура</a>
        </div>
      </li>
      <li><a routerLink="info">О проекте</a></li>
      <li style="float:right;"><button onclick="document.getElementById('id01').style.display='block'"
          style="width:auto;" class="s">Вход</button></li>
    </ul>
  </div>
  <div>



    <div class="fullpage otstup">
      <div class="osnova otstup ">
        <div class="news  ">
          <div class="left fixed ">
            <div style="margin-top: 50px;">
              <h1 class="hk"> Новости недели</h1>
              <a routerLink="blog">Очень важная новость</a> <br>
              <a routerLink="blog">Очень важная новость</a> <br>
              <a routerLink="blog">Очень важная новость</a> <br>
              <a routerLink="blog">Очень важная новость</a> <br>
              <a routerLink="blog">Очень важная новость</a> <br>
              <a routerLink="blog">Очень важная новость</a> <br>
              <a routerLink="blog">Очень важная новость</a> <br>
              <a routerLink="blog">Очень важная новость</a> <br>
              <a routerLink="blog">Очень важная новость</a> <br>
              <a routerLink="blog">Очень важная новость</a> <br>
              <a routerLink="blog">Очень важная новость</a> <br>
              <a routerLink="blog">Очень важная новость</a> <br>
              <a routerLink="blog">Очень важная новость</a> <br>
              <a routerLink="blog">Очень важная новость</a> <br>
              <a routerLink="blog">Очень важная новость</a> <br>
              <a routerLink="blog">Очень важная новость</a> <br>
              <a routerLink="blog">Очень важная новость</a> <br>
              <a routerLink="blog">Очень важная новость</a> <br>
              <a routerLink="blog">Очень важная новость</a> <br>
              <a routerLink="blog">Очень важная новость</a> <br>
              <a routerLink="blog">Очень важная новость</a> <br>
              <a routerLink="blog">Очень важная новость</a> <br>
              <a routerLink="blog">Очень важная новость</a> <br>
            </div>
          </div>
          <div class="center otstup">
            <h1 align="center"> Свежие новости</h1>
            <div class="razbil otstup">

              <div class="01 otstup">
                <div class="block">

                  <a routerLink="blog" class="iklo"> Культура </a> <br>
                  <a class="ret" routerLink="blog">Удивительная жизнь Станислава Барецкого </a>
                </div>


              </div>
              <div class="02 otstup">
                <div class="block">

                  <a routerLink="blog" class="iklo"> Культура </a> <br>
                  <a class="ret" routerLink="blog">Удивительная жизнь Станислава Барецкого </a>
                </div>

              </div>
              <div class="03 otstup">
                <div class="block">

                  <a routerLink="blog" class="iklo"> Культура </a> <br>
                  <a class="ret" routerLink="blog">Удивительная жизнь Станислава Барецкого </a>
                </div>

              </div>
              <div class="04 otstup">
                <div class="block">

                  <a routerLink="blog" class="iklo"> Культура </a> <br>
                  <a class="ret" routerLink="blog">Удивительная жизнь Станислава Барецкого </a>
                </div>

              </div>
              <div class="05 otstup">
                <div class="block">

                  <a routerLink="blog" class="iklo"> Культура </a> <br>
                  <a class="ret" routerLink="blog">Удивительная жизнь Станислава Барецкого </a>
                </div>

              </div>
              <div class="06 otstup">
                <div class="block">

                  <a routerLink="blog" class="iklo"> Культура </a> <br>
                  <a class="ret" routerLink="blog">Удивительная жизнь Станислава Барецкого </a>
                </div>

              </div>
              <div class="07 otstup">
                <div class="block">

                  <a routerLink="blog" class="iklo"> Культура </a> <br>
                  <a class="ret" routerLink="blog">Удивительная жизнь Станислава Барецкого </a>
                </div>

              </div>
              <div class="08 otstup">
                <div class="block">

                  <a routerLink="blog" class="iklo"> Культура </a> <br>
                  <a class="ret" routerLink="blog">Удивительная жизнь Станислава Барецкого </a>
                </div>

              </div>
              <div class="09 otstup">
                <div class="block">

                  <a routerLink="blog" class="iklo"> Культура </a> <br>
                  <a class="ret" routerLink="blog">Удивительная жизнь Станислава Барецкого </a>
                </div>

              </div>
              <div class="010 otstup">
                <div class="block">
                  <a routerLink="blog" class="iklo"> Культура </a> <br>
                  <a class="ret" routerLink="blog">Удивительная жизнь Станислава Барецкого </a>
                </div>

              </div>

            </div>

          </div>
          <div class="right ">
            <div class="fixed">
              <div style="margin-top: 50px;">
                <h1> Темы:</h1>
                <input type="text" style="margin-left: 10px;" placeholder="поиск"> <button>искать</button> <br>
                <a routerLink="blog">Политика</a> <br>
                <a routerLink="blogs">Политика</a> <br>
                <a routerLink="blogs">Политика</a> <br>
                <a routerLink="blogs">Политика</a> <br>
                <a routerLink="blogs">Политика</a> <br>
                <a routerLink="blogs">Политика</a> <br>
                <a routerLink="blogs">Политика</a> <br>
                <a routerLink="blogs">Политика</a> <br>
                <a routerLink="blogs">Политика</a> <br>
                <a routerLink="blogs">Политика</a> <br>
                <a routerLink="blogs">Политика</a> <br>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div id="id01" class="modal">

      <form class="modal-content animate" action="/action_page.php">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close"
            title="Close Modal">×</span>
        </div>

        <div class="container">
          <h1 align='center'>Вход</h1>
          <label for="uname"><b>Имя пользователя</b></label>
          <input class="s" type="text" placeholder="Введите имя пользователя" id="login" name="login"
            [(ngModel)]="login" required>

          <label for="psw"><b>Пароль</b></label>
          <input class="s" placeholder="Введите пароль" name="password" id="password" type="password"
            [(ngModel)]="password" required>
          <div *ngIf="error_text != 'no_error'" class="log_error">
            {{error_text}}
          </div>
          <button class="sx" id="check" (click)="check()">Войти</button> <button type="button"  type='button'
            onclick="document.getElementById('id02').style.display='block'" class="sz">Зарегистрироваться</button>
          
        </div>

        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('id01').style.display='none'"
            class="cancelbtn s ">Отмена</button>

        </div>
      </form>

    </div>
    <div id="id02" class="modal">

      <form class="modal-content animate" action="/action_page.php">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id02').style.display='none'" class="close"
            title="Close Modal">×</span>
        </div>

        <div class="container">
          <h1 align='center'>Регистрация</h1>
          <label for="uname"><b>Почта</b></label>
          <input class="s" type="text" placeholder="Введите почту" id="mail" name="mail" [(ngModel)]="mail" required>
          <label for="uname"><b>Имя пользователя</b></label>
          <input class="s" type="text" placeholder="Введите имя пользователя" id="login" name="login"
            [(ngModel)]="login" required>
          <label for="psw"><b>Пароль</b></label>
          <input class="s" id="password" name="password" [(ngModel)]="password" type="password"
            placeholder="Введите пароль" required>
          <input id="confirm_password" name="confirm_password" [(ngModel)]="password_confirm" type="password"
            placeholder="Повтор пароля" required>
          <div *ngIf="error_text != 'no_error'" class="reg_error">
            {{error_text}}
          </div>

          <button class="s" (click)="regFunction()"
            >Создать аккаунт</button>
        </div>

        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('id02').style.display='none'"
            class="cancelbtn s ">Отмена</button>

        </div>
      </form>

    </div>
  </div>