<div class="header">
    <ul style="margin: 0;
    padding: 0">
      <li class="st"> <img src="../assets/images/logo.png"  
        width="120px" height="40px" alt="lorem"></li>
      <li><a routerLink ="/index">Новости</a></li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Блоги</a>
        <div class="dropdown-content">
          <a routerLink ="/blogs">История</a>
          <a routerLink ="/blogs">Политика</a>
          <a routerLink ="/blogs">Кульура</a>
        </div>
      </li>
      <li><a routerLink ="/info">О проекте</a></li>
      <li style="float:right;"><button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="s">Вход</button></li>
  </ul>
</div>
<div id="id01" class="modal">

  <form class="modal-content animate" action="/action_page.php">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close"
        title="Close Modal">×</span>
    </div>

    <div class="container">
      <h1 align='center'>Вход</h1>
      <label for="uname"><b>Имя пользователя</b></label>
      <input class="s" type="text" placeholder="Введите имя пользователя" id="login" name="login"
        [(ngModel)]="login" required>

      <label for="psw"><b>Пароль</b></label>
      <input class="s" placeholder="Введите пароль" name="password" id="password" type="password"
        [(ngModel)]="password" required>
      <div *ngIf="error_text != 'no_error'" class="log_error">
        {{error_text}}
      </div>
      <button class="sx" id="check" (click)="check()">Войти</button> <button type="button"  type='button'
        onclick="document.getElementById('id02').style.display='block'" class="sz">Зарегистрироваться</button>
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'"
        class="cancelbtn s ">Отмена</button>

    </div>
  </form>

</div>
<div id="id02" class="modal">

  <form class="modal-content animate" action="/action_page.php">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close"
        title="Close Modal">×</span>
    </div>

    <div class="container">
      <h1 align='center'>Регистрация</h1>
      <label for="uname"><b>Почта</b></label>
      <input class="s" type="text" placeholder="Введите почту" id="mail" name="mail" [(ngModel)]="mail" required>
      <label for="uname"><b>Имя пользователя</b></label>
      <input class="s" type="text" placeholder="Введите имя пользователя" id="login" name="login"
        [(ngModel)]="login" required>
      <label for="psw"><b>Пароль</b></label>
      <input class="s" id="password" name="password" [(ngModel)]="password" type="password"
        placeholder="Введите пароль" required>
      <input id="confirm_password" name="confirm_password" [(ngModel)]="password_confirm" type="password"
        placeholder="Повтор пароля" required>
      <div *ngIf="error_text != 'no_error'" class="reg_error">
        {{error_text}}
      </div>

      <button class="s" (click)="regFunction()"
        >Создать аккаунт</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id02').style.display='none'"
        class="cancelbtn s ">Отмена</button>

    </div>
  </form>

</div>

  <div class="bli">
      <h1> Стас Баретский</h1>
      <p>
      <img src="../assets/images/Baretskiy.jpg" width="100%" height="500px" alt="lorem">
        <h3>Биография</h3>
        
        Стас Барецкий – эпатажный российский музыкант, который выступал в составе скандально известной группы «Ленинград» с 2005 по 2008 годы. Мужчина невероятных размеров (рост - 175 см, вес – 142 кг), бритый наголо и в неизменном малиновом пиджаке – таким публика узнала, запомнила и приняла Стаса Барецкого. Стас Барецкий выпустил восемь сольных альбомов, а также один в сотрудничестве с другой группой – «Елочные игрушки».<br>

        Певец и шоумен родился 8 марта 1972 года в городе Ломоносове под Санкт-Петербургом. Здесь прошло его детство, юность, здесь музыкант живет и сегодня. <br>
        
        Музыкант и шоумен Стас БарецкийМузыкант и шоумен Стас Барецкий <br>
        Стихи Стас начал писать с ранних лет, говорит, что они сами лезли изнутри и рифмовались. Однажды на уроке русского языка Стас написал сочинение в стихах, чем удивил преподавателя. А потом в стране началась перестройка. <br>
        
        Барецкий поступил в ПТУ, получил профессию водителя. По специальности работать он не стал - в 16 лет устроился могильщиком на кладбище. Бандитские разборки, резня, стрельба – работы у могильщиков в то смутное время хватало. Барецкий признается, что платили их бригаде много, а они делили доход поровну. Его шеф в то время ездил на белоснежной «Волге», а Стас мечтал о такой. Затем он устроился охранником в магазин, открыл собственное кафе, но прогорел в дефолт. Следующим бизнесом стал продуктовый магазин, но и он прогорел.<br>
        
        Стас Барецкий в детстве и сейчасСтас Барецкий в детстве и сейчас<br>
        Все это время Стас Барецкий писал стихи, а песни на них решил записывать только в 2002 году. Его первыми поклонниками стали российские миллионеры, заработавшие капитал в 90-х.<br>
        
        
        <h3>Музыка</h3>
        В 2003-2004 годах Барецкий записал альбомы «Цензура» и «Цензура-2». Некоторые композиции из этих альбомов попали в эфир радио «Шансон».<br>
        

        В 2004 году песни Стаса Барецкого заинтересовали дуэт «Елочные игрушки». Участники дуэта предложили ему записать несколько совместных песен и выступать в питерских клубах. Барецкий согласился. В этот период вышел его третий альбом «Электронщина». Сотрудничество с «Елочными игрушками» было недолгим. Как позднее объяснил певец, у них был разный взгляд на музыку. Дуэт любит эксперименты, а Стас – шансон.<br>
        
        В 2005 году Стас Барецкий стал участником группы «Ленинград». Сотрудничество с коллективом Сергея Шнурова продолжалось три года. Он - автор песен «Кредит» и «Небесный теннис». Также музыкант появился в видеоклипах группы «Губошлеп» и «Паганини».<br>
        
        Сергей Шнуров и Стас БарецкийСергей Шнуров и Стас Барецкий<br>
        Всего Барецкий за свою карьеру официально выпустил девять альбомов, из них восемь сольных. Кроме того, пластинка «Тут по ящику нам дали», совместное творчество в дуэте с Андреем Ерофеевым, была записана, но официально никогда не издавалась.<br>
        
        Особенно продуктивным музыкант стал после 2010 года. В 2011 году вышел третий сольный альбом, который носил нецензурное название. Скачивание этого диска в Интернете музыкант официально разрешил и самостоятельно выложил песни в Сеть. В песнях также много нецензурных слов и агрессии.<br>
        
        Стас Барецкий, группа «Елочные игрушки»Стас Барецкий, группа «Елочные игрушки»<br>
        Все тексты песен музыкант написал самостоятельно, часть сюжетов переплетается с биографией исполнителя и его личными социальными взглядами, а вот с записью музыки, как значится в описании альбома, помогали музыкант Андрей Ерофеев из группы «PCР», группа «Елочные игрушки» и некий Коля. На вопрос в интервью об обилии обсценной лексики в текстах нового альбома Стас Барецкий заявил, что без мата ему не пишется.<br>
        
        Пластинка получила смешанные отзывы. Критики отмечали харизму музыканта и эпатажность текстов и снятого на одну из песен музыкального клипа. А также говорили и об однообразии, монотонной мрачности и о том, что альбом записан на стыке рэпа и шансона, что не всегда приводит к благозвучным результатам.<br>
        

        В 2013 году Стас Барецкий выпустил альбом «Дискотека». На физических носителях альбом вышел очень ограниченным тиражом – 30 экземпляров. Но это компенсировало то, что и этот диск официально разрешено скачивать в Интернете. Новый альбом получил свою долю внимания поклонников, а музыкальный видеоклип на песню «Мурка» даже имел определенный успех в Сети.<br>
        
        Стас Барецкий написал тексты песен, но также самостоятельно записал все композиции и создал аранжировки к песням. Коллеги-музыканты и музыкальные критики отметили этот факт в негативном ключе. Алексей Мажаев заявил, что каждая песня нового альбома спета на одну и ту же мелодию, а в основу звучания Барецкий положил псевдотанцевальные семплы примитивного свойства.<br>
        

        В 2014 году Стас Барецкий презентовал альбом «Девяностые». В 2015 году вышло сразу три сольника – «Умереть за попсу», «Малиновый пиджак», «Нулевые».<br>
        
        Певец говорит, что исполняет шансон, потому что ему близко и название, и содержание такой музыки. По его мнению, она мужская, поэтому и петь должны мужчины.<br>
        
        
        <h3>Личная жизнь</h3>
        Жены у музыканта нет, он живет с пожилой мамой. С женщинами у него не ладится, как он считает, из-за того, что они ищут красивых мужчин. В одном из интервью Стас Барецкий признался, что не нашел личного счастья в жизни и с возрастом одиночество начало ему нравиться. Певец говорит, что в последние годы очень любит себя, смотрит с утра в зеркало – настроение улучшается.<br>       

        Стас Барецкий любит эпатировать публику. То публично поджигает свою иномарку и «в рамках импортозамещения» пересаживается на отечественный автомобиль, то инспектирует товары в супермаркетах и уничтожает санкционные продукты, то дерется в прямом эфире центральных телеканалов. В последнее время певец часто появляется на популярных телевизионных шоу. Говорит, что ходит на эфиры от скуки. Билеты в Москву и обратно ему покупают, иногда доплачивают за скандал в шоу.<br>
        
        Барецкому посвящен аккаунт в «Инстаграме», но посты о музыканте там пишутся от третьего лица – скорее всего, страницу ведет не сам Стас.
        
        Стас БарецкийСтас Барецкий
        Его увлечение – тренировки в настоящей качалке, той, где нет женщин и тренер строгий. Путешествовать он не любит – покатался с «Ленинградом» по Европе, побывал в Америке, но не впечатлило.
        
        Музыкант имеет взрывной характер и при конфликтах сразу лезет в драки. Это принесло артисту ряд шрамов, а также скандальных конфликтов со звездами шоу-бизнеса.<br>
        
        
        <h3>Стас Барецкий сейчас</h3>
        Как музыкант и поэт Стас Барецкий функционирует и сейчас, но современная музыкальная реальность вынудила мужчину сменить формат распространения музыки. Спроса на музыкальные диски сегодня нет, поэтому Барецкий выкладывает свою музыку в социальные сети. Говорит, что для творчества ему нужны он, компьютер и парочка помощников, которые тиражируют его творчество в Интернете.<br>
        

        Источником постоянного дохода музыканта стала другая работа. Стас Барецкий работает в ритуальном агентстве, администрирует всю Ленинградскую область.<br>
        
        Помимо этого, Стас Барецкий занялся политикой, став доверенным лицом Путина, а накануне выборов 2018 года даже успел поскандалить, обвинив кандидата в президенты Павла Грудинина в том, что тот развернул травлю музыканта. Поводом для таких слов стал пост в одной из групп КПРФ в соцсетях с критикой Барецкого.<br>
        
        
        <h3>Дискография</h3>
        2003 – «Цензура»<br>
        2004 – «Цензура-2»<br>
        2005 – «Электронщина»<br>
        2011 – «Романтик Блядь Коллекшн»<br>
        2013 – «Дискотека»<br>
        2014 – «Девяностые»<br>
        2015 – «Умереть за попсу!»<br>
        2015 – «Нулевые»<br>
        2015 – «Малиновый пиджак»<br>
      <p>

</div>